html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.body {
    background-color: #D6E5B2;
}
.home--box {
    padding-top: 20px;
}

/* Nav */
 .bg-color{
    background-color: #EA5D7D;
}
.nav-link {
    color: #D6E5B2 !important;
}
/* Image */
.image{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}
/* Card */
.card {
    width: 50%
}
.card-header{
    letter-spacing: 5px;
    font-size:larger;
    font-weight: bold;
    background-color: #bcd581 !important;
    
}
.card-body{
    background-color: #bcd581;
    padding: 20px;
    
}
.card-link {
  display: block;
  text-align: left;
  margin-bottom: 12px;
  letter-spacing: 1px;
  padding: 8px 12px;
}
.box{
margin-top: 150px;
padding-right: 200px;
padding-left: 100px;
}


@media (max-width: 600px) {
 .image {
    width: 100%;
    height: auto;
    float: none; 
    margin-left: 15px;
    margin-right: 15px;
 }
 .card-link{
    font-size: larger;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    padding: 8px 8px;
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.card{
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
}

}